body {
  font-size: 100%;
  font-family: "TT Lakes", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background: rgb(248, 248, 248);
}

.button {
  padding: 15px;
}

.down {
  margin: 10px;
}

.up {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}
