@import "animationkeyframes";

@media screen and (min-width: 768px) {
  .brand__company {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 72px !important;
    margin: 0 !important;
    animation-name: appearing;
    animation-duration: 1s;
  }
}
