@media screen and (min-width: 320px) {
  .buttonBlock {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .buttonBlock {
    display: flex;
    column-gap: 1px;
    margin-left: 10px;
  }

  .buttonBlock__show-all-button,
  .buttonBlock__readMore,
  .buttonBlock__show-all-button2 {
    font-family: "TT Lakes", sans-serif;
    color: black;
    border: none;
    background: #F8F8F8;
  }
}
