@media screen and (min-width: 320px) and (max-width: 768px) {
  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    max-width: 100%;
    background: white;
    border-bottom: 1px solid rgb(217, 255, 245);
    gap: 10px;

    &__divider2 {
      margin-right: auto;
      padding-left: 15px;
    }

    &__burger {
      padding-left: 25px;
    }

    &__group::after {
      content: "";
      position: absolute;
      left: 200px;
      top: 25px;
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 50px;
    }

    &__repair {
      margin-left: auto;
    }

   &__checkStatus {
     padding-right: 25px;
   }

    &__call,
    &__chat,
    &__profile,
    &__divider,
    &__repair2,
    &__checkStatus2 {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {

  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    min-width: 100%;
    background: white;
    margin: 0;
    column-gap: 15px;
    border-bottom: 1px solid rgb(217, 255, 245);
    box-sizing: border-box;

    &__burger {
      padding-left: 25px;
      padding-right: 25px;
    }

    &__burger::after {
      content: "";
      position: absolute;
      left: 85px;
      top: 25px;
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 50px;
    }

    &__group {
      margin-right: auto;
    }

    &__checkStatus {
      padding-right: 25px;
    }

    &__repair::after {
      content: "";
      position: absolute;
      right: 140px;
      top: 25px;
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 50px;
    }

    &__repair {
      padding-left: 30px;
    }

    &__call,
    &__divider,
    &__group,
    &__chat,
    &__profile,
    &__repair {
      display: block;
    }

    &__repair2,
    &__checkStatus2 {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) {
  .upperMenu {
    display: none;
  }
}
