@media screen and (min-width: 320px) {
  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    min-width: 320px;
    background: white;
    border-bottom: 1px solid rgb(217, 255, 245);
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    gap: 15px;

    &__divider2 {
      margin-right: auto;
      padding-left: 15px;
    }

    &__call,
    &__chat,
    &__profile,
    &__divider,
    &__repair2,
    &__checkStatus2 {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {

  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    min-width: 100%;
    background: white;
    margin: 0;
    column-gap: 25px;
    border-bottom: 1px solid rgb(217, 255, 245);
    box-sizing: border-box;

    &__group {
      margin-right: auto;
    }

    &__divider2 {
      margin: 0;
    }

    &__call,
    &__divider,
    &__group,
    &__chat,
    &__profile,
    &__repair {
      display: block;
    }

    &__repair2,
    &__checkStatus2 {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) {
  .upperMenu {
    display: none;
  }
}
