.slideMenu__button {
  font-family: "TT Lakes", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: rgb(126, 126, 130);
  display: inline-block;
  align-content: center;
  height: 40px;
  padding-left: 13px;
  padding-right: 13px;
  box-sizing: border-box;
}

.slideMenu__button:hover {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(184, 255, 236);
  border-image: initial;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  transition:
    border 0.2s ease-in-out,
    background 1s ease-in-out;
}

@media screen and (min-width: 320px) {


  .slideMenu {
    min-width: 246px;
    max-height: 40px;
    margin-left: 20px;
    overflow: scroll hidden;
    white-space: nowrap;
  }

  .slideMenu::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .slideMenu {
    min-width: 246px;
    max-height: 40px;
    overflow: scroll;
    white-space: nowrap;
  }

  .slideMenu__button {
    margin-left: 20px;
  }

  .slideMenu::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .slideMenu {
    min-width: 246px;
    max-height: 40px;
  }

  .slideMenu__button {
    margin-left: 20px;
    padding-right: 10px;
  }
}
